.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 1fr 1fr 10vh;
  grid-template-areas: 
  'nav'
  'header'
  'main'
  'footer';
}

header{
  color: #ffffff;
  grid-area: header;
  display: block;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0 4em;
  animation: zoomIn;
  animation-duration: 1s;
}

nav{
  align-items: center;
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  grid-area: nav;
  overflow-x: hidden;
}

main{
  color: #ffffff;
  grid-area: main;
  text-align: center;
  margin-bottom: 0;
}

footer{
  grid-area: footer;
  color: #ffffff;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.minhafoto img{
  height: 40vh;
  margin: 5vh 0 5vh 0;

  animation: zoomIn;
  animation-duration: 1s;
}

h3{
  color: #e7d10f;
  margin-bottom: 7px;
}

aside{
  margin-bottom: 10px;
}

li{
  margin-top: 8px;
}

ul{
  text-align: left;
  list-style: none;
  padding-bottom: 20px;
}

details div{
  text-align: left;
  margin-top: 25px;
}

/*Sumário*/

section details summary{
  color: #000000;
  background-color: #e7d10f;
  border-radius: 12px;
  height: 30px;
  margin: 10px;
  text-align: center;
  font-weight: 800;
  padding: 0.5%;
}

summary{
  margin-top: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

summary:hover{
  transform: scale(1.02);
}

section{
  margin: 0 10%;

}


.expCampo {
  background-color: #e7d10f;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  justify-content: center;
  outline: none;
  padding: 5px 25px;
  transform: scale(1.02);
  transition: box-shadow 0.1s;
  transition: all 1.02s;
  margin-bottom: 5vh;
}

.expCampo:hover {
  cursor: pointer;
  scale: 1.02;
  font-weight: 900;
  filter: drop-shadow(0px 1px 5px #1212126b);
}



@media screen and (max-width: 618px) {

  section{
    margin: 0 1%;
  
  }

}
