* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(45deg, #000000, #0a0025, #150050, #3F0071, #6202b1 );
  background-size: 200% 200%;
  animation: animacao 15s ease infinite;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
/*Animação de fundo*/

@keyframes animacao {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  
}

/*Áreas*/
.container{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 10vh 1fr 1fr 12vh;
  grid-template-areas: 
  'nav nav'
  'header header'
  'main main'
  'footer footer';
}

nav{
  align-items: center;
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  grid-area: nav;

}

header{
  color: #ffffff;
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
main{
  color: #ffffff;
  grid-area: main;
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 0vh;
}

footer{
  grid-area: footer;
  color: #ffffff;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Design das áreas*/

 nav, footer{
  background: linear-gradient(360deg, #000000,#15011d );
 }

 footer{
  background: linear-gradient(180deg, #000000,#0b000f );
 }

/*Nav*/

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3px;
  text-decoration: none;
  transition: 100ms ease-in;
  transition: all 0.5s;
}

.nav-links a:hover {
  font-weight: 800;
  font-size: large;
}

.logo a img{
  height: 5vh;
}

/*Menu Hamburguer*/
  
.hamburger {
   cursor: pointer;
   display: none;
}

.hamburger div {
  background-color: #e7d10f;
  height: 3px;
  margin: 5px;
  transition: all 0.5s ease;
  width: 25px;
  margin-left: 35vw;
}

/*Conteúdo do corpo*/

.imagemH img{
  height: 30vh;
}

.icon{
  height: 7vh;
}

.mainR{
  margin: 25px;
  display: flex;
  justify-content: center;
  gap: 45px;
}

span, a, #titulo{
 color: #e7d10f;
 font-weight: 600;
 text-decoration: none;
}


/*Responsividade*/

@media screen and (max-width: 1120px) {
  
}


@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }

}

@media screen and (max-width: 1153px) {  

  header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .imagemH img{
    height: 25vh;

  }


  .nav-links {
    overflow-x: hidden;
    align-items: center;
    background: #e7d10f;
    border-radius: 0px 0 0 75px;
    display: flex;
    flex-direction: column;
    height: 30vh;
    position: absolute;
    right: 0px;
    top: 10vh;
    transform: translateX(100%);
    width: 30%;
  }

  .nav-links a {
    color: #000000;
  }

  .hamburger {
    display: block;
  }

  body{
    overflow-x: hidden;
    touch-action: pan-y;
  }

  .logo a img{
    height: 4.5vh;
  }

}

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 1153px){
  .imagemH img, header{
    margin-top: 4vh;
  }

  .mainR{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  main{
    margin-top: 15vh;
    margin: 12vh 12vw 0 12vw;
  }

  .icon{
    height: 6vh;

  }

  footer{
    margin-top: 2vh;
  }
}

@media screen and (max-width: 618px) {


 header{
  margin-left: 12vw;
  margin-right: 12vw;
 }

 footer{
  margin-top: 3.5vh;
}

}
